
@import "~tailwindcss/base.css";

@import "~tailwindcss/components.css";

@import "~tailwindcss/utilities.css";


//Theme colors
$coral: #FF817D;
$lightPink: #FFF0EA;
$darkGrey: #999999;

//Fonts
$roboto: 'Roboto', sans-serif;
$rufina: 'Rufina', serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.backgroundImage {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.banner {
    width: 65%;
    margin: auto;
}

.navBar {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.icon {
    width: 65px;
    margin: auto;
    height: 55px;
}



.links {
    display: flex;
    margin-left: 150px;

    div {
        margin: 20px;
        font-family: $roboto;
        font-size: 0.7em;
    }
    div:hover {
        color: $coral;
        cursor: pointer;
    }
}

.spacing {
    letter-spacing: 4px;
}

.des {
    margin: 20px 0 25px 0;
}

.playButton {
    margin-left: 30px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $lightPink;
    float: left;

    :hover {
        cursor: pointer;
        background-color: #fecdb9;
        border-radius: 50%;
    }
}

.play {
    color: $coral;
    font-size: 50px;
    margin: auto;
}


.about {
    width: 80%;
    margin: 250px auto 0 auto;
    text-align: center;
}

.logo {
    width: 95px;
    margin: auto;
    height: 75px;
}

.treatments {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gridItem {
    padding-top: 120%;
}

.verticaCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.popularProcedures {
    width: 70%;
    margin: 150px auto 0 auto;
}

.cardContainer {
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 420px;
    margin: 20px;
    overflow: auto;
}

.cardImg {
    padding-top: 80%;
    margin: 20px;
}

.cardButton {
    display: block;
    margin: 20px auto 25px auto;
}

.testimonial {
    margin-top: 100px;
    width: 100%;
    background-color: $lightPink;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px 25px 10px;
    border-radius: 50%;
    display: inline-block;
}

.team {
    width: 70%;
    margin: 150px auto 0 auto;
}

.teamCard {
    width: 420px;
    height: 520px;
    margin: 20px 20px 120px 20px;
    position: relative;
}

.teamDetail {
    position:absolute;
    width: 80%;
    top:480px;
    left: 42px;
}

.selectedDetail {
    position:absolute;
    width: 80%;
    top:450px;
    left: 42px;
}

.flexIcons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactIcons {
    width: 28px;
    height: 28px;
}

.apptForm {
    width: 100%;
    margin-top: 100px;
    height: 570px;
    display: flex;
}

.formDiv {
    width: 30%;
}

.form {
    width: 70%;
}
