@import "~tailwindcss/base.css";

@import "~tailwindcss/components.css";

@import "~tailwindcss/utilities.css";


//Theme colors
$coral: #FF817D;
$darkCoral: #ff5c57;
$lightPink: #FFF0EA;
$darkPink: #fecdb9;
$darkGrey: #999999;

//Fonts
$roboto: 'Roboto', sans-serif;
$rufina: 'Rufina', serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
}

button:focus {
    outline: 0;
}

.backgroundImage {
    width: 100%;
    position: absolute;
    z-index: -1;
}


// ---------NAV / INTRO---------
.intro {
    width: 65%;
    margin: auto;
}

.navBar {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.links {
    div {
        font-family: $roboto;
        font-size: 0.7em;
    }

    div:hover {
        color: $coral;
        cursor: pointer;
    }
}

.playButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $lightPink;

    :hover {
        cursor: pointer;
        background-color: $darkPink;
        border-radius: 50%;
    }
}

.play {
    color: $coral;
    font-size: 50px;
    margin: auto;
}


// --------ABOUT---------
.about {
    width: 80%;
    margin: 250px auto 0 auto;
    text-align: center;
}


// ---------TREATMENTS---------
.treatments {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gridItem {
    padding-top: 120%;
}


// ---------POPULAR PROCEDURES---------
.popularProcedures {
    width: 100%;
    margin-top: 150px;
}

.cardContainer {
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 420px;
    margin: 20px;
    overflow: auto;
}

.cardImg {
    padding-top: 80%;
    margin: 20px;
}


// ---------TESTIMONIALS ---------
.testimonial {
    margin-top: 150px;
    width: 100%;
    background-color: $lightPink;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $coral;
    float: left;
}

.slick-dots {
    background-color: $lightPink;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 1rem 0;

    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: $coral;

        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $darkCoral;
        outline: none;
    }

}


// ---------TEAMS---------
.team {
    width: 100%;
    margin: 150px auto 0 auto;
}

.teamCard {
    width: 420px;
    height: 520px;
    margin: 20px 20px 120px 20px;
    position: relative;
}

.teamDetail {
    position: absolute;
    width: 80%; //80% of teamCard
    bottom: -20%;
    left: 10%; //100% - 80% = 20%/2 = 10%
}

.flexIcons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactIcons {
    width: 28px;
    height: 28px;
}


// ---------APPOINTMENT FORM ---------
.apptForm {
    width: 100%;
    margin-top: 150px;
    height: auto;
    display: flex;
}

.greyDiv {
    width: 30%;
}

.formDiv {
    width: 70%;
}

.form {
    width: 85%;
}

.inputField {
    width: 80%;
}


// ---------CONTACT FORM---------
.contact {
    width: 60%;
    margin: 150px auto 0 auto;
    clear: both;
}

.contactGrid {
    margin-top: 70px;
    width: 45%;
    display: grid;
    grid-template-columns: auto;
}

.contactGridItem {
    padding: 20px;
}

.contactForm {
    margin-top: 70px;
    width: 55%;
    display: grid;
    grid-template-columns: auto;
}

.contactForm button {
    width: 140px;
}


// ---------BOTTOM BANNER---------
.bannerBottom {
    margin-top: 100px;
    width: 100%;
    clear: both;
}

.banner-links {
    @extend .links;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;

    div {
        font-size: 0.7em;
        margin: 10px;
    }
}

.banner-icons {
    @extend .flexIcons;
    width: 20%;
    margin: auto;
    padding: 30px;
}


// ---------MEDIA QUERIES---------
@media (max-width: 1150px) {
    .contact {
        width: 75%;
        margin: 150px auto 0 auto;
        clear: both;
    }
}

@media (max-width: 1000px) {
    .about {
        width: 90%;
        margin: 200px auto 0 auto;
        text-align: center;
    }
    .greyDiv {
        width: 0%;
    }
    .formDiv {
        width: 100%;
    }
    .form {
        width: 95%;
    }
    .contact {
        width: 95%;
        margin: 150px auto 0 auto;
        clear: both;
    }
}

@media (max-width: 820px) {
    .contactGrid {
        margin: 70px auto 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: auto;
    }
    .contactForm {
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 650px) {
    .about {
        width: 90%;
        margin: 200px auto 0 auto;
        text-align: center;
    }
    .inputField {
        width: 100%;
    }
    .banner-icons {
        @extend .flexIcons;
        width: 70%;
        margin: auto;
        padding: 30px;
    }

}
